# Backend Config
PORT=5001
MONGO_URI=mongodb://localhost:27017/smart-leads
JWT_SECRET=super_secret_key_12345
CLIENT_URL=http://localhost:5173

# Frontend Config
VITE_API_URL=http://localhost:5001/api
